<section id="login" class="content-section ">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-body">
        <ul class="nav nav-tabs final-login">
          <li>
            <%= link_to t("sign_in_link"), signup_path(anchor: "sectionA") %>
          </li>
          <li class="active">
            <%= link_to t("log_in_link"), login_path(anchor: "sectionB") %>
          </li>
        </ul>
        <div class="tab-content">
          <div id="sectionB" class="tab-pane fade in active">
            <div class="innter-form">
              <%= form_for(:session, url: login_path, html: {class: "sa-innate-form"}) do |f| %>
              <%= f.label :email %>
              <%= f.text_field :email, class: "form-control" %>
              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control" %>
              <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me, class: "session_remember" %>
                <span><%= t "label_checkbox_remember" %></span>
              <% end %>
              <%= f.submit t "log_in_butt" %>
              <% end %>
              <%= link_to t("forgot_pass"), "#" %>
            </div>
            <div class="social-login">
              <ul>
                <li>
                  <%= link_to login_facebook_path do %>
                    <i class="fa fa-facebook"></i><%= t "facebook_label" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to login_google_path do %>
                    <i class="fa fa-google-plus"></i><%= t "google_label" %>
                  <% end %>
                </li>
                <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
