<tr>
  <td class="td-custom">
    <%= image_tag("jun.jpg", alt:"", class: "pull-left img-circle nav-user-photo img-custom") %>
  </td>
  <td>
    <%= link_to customer.name, customer %>
    <br><i class="fa fa-envelope"></i> <small class="text-muted"><%= customer.email %></small>
  </td>
  <td align="center">
    <%= customer.role.upcase %>
  </td>
  <td align="center">
    <%= t "join_at_label" %><%= display_time_in_booking customer.created_at %>
    <br><small class="text-muted"><%= time_ago_in_words customer.created_at %></small>
  </td>
  <td align="center">
    <% if customer.customer? %>
      <%= link_to t("delete_customer_label"), admin_customer_path(customer), method: :delete,
        data: {confirm: t("confirm_customer_delete")}, class: "btn btn-danger" %>
    <% end %>
  </td>
</tr>
