<section id="show-customer" class="container content-section">
  <div class="row">
    <div class="col-sm-2 col-md-4">
      <%= image_tag("jun.jpg", alt:"", class: "img-rounded img-responsive") %>
    </div>
    <div class="col-sm-6 col-md-8">
      <blockquote>
        <p><%= @customer.name %></p> <small><cite title=I18n.("source_title")><%= @customer.country%>  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
      </blockquote>
      <p><i class="glyphicon glyphicon-envelope"></i> <%= @customer.email %>
        <br/><i class="glyphicon glyphicon-globe"></i> <%= @customer.booking_tickets.size %> total booking
        <br/><i class="glyphicon glyphicon-gift"></i> <%= display_time_in_booking @customer.created_at %>
      </p>
    </div>
  </div>
</section>
