<% if logged_in? %>
<div class="container">
  <div class="col-md-8">
    <h3><%= t "review_header" %></h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
         <%= form_for @room.reviews.build, remote: true do |f| %>
           <%= f.hidden_field :room_id, value: @room.id %>
           <%= f.hidden_field :customer_id, value: current_customer.id %>
           <%= f.text_area :content, placeholder: t("review_holder"), class:"form-control" %>
           <%= button_tag(class: "btn btn-success green") do %>
            <%= t "share_button"%><i class="fa fa-share"></i>
           <% end %>
         <% end %>
       </div>
     </div>
   </div>
 </div>
</div>
<br><br><h4><%= t "reviews" %></h4>
<% end %>
