<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-4 col-sm-6">
     <div class="thumbnail img-thumb-bg">
       <div class="overlay"></div>
       <div class="caption">
         <div class="tag"><a><%= room.room_type.name %></a></div>
         <div class="title"><a><%= link_to room.position, room %></a></div>
         <div class="clearfix">
           <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i><%= Settings.love_vote %></a></span>
         </div>
         <div class="content">
           <p><%= room.room_type.price %></p>
         </div>
       </div>
     </div>
   </div>
   <div class="col-lg-6 col-md-4 col-sm-6">
    <p><%= room.description %></p>
    <p><%= room.room_type.name %> <%= number_to_currency room.room_type.price %><br><br>
    <% if room.available? %>
      <% if current_customer.admin? %>
        <%=link_to t("available"), change_status_admin_room_path(room), id: "change_button", method: :put, class: "btn btn-success" %>
      <% else %>
        <button class="btn btn-success"><%= t "available" %></button>
      <% end %>
    <% else %>
      <% if current_customer.admin? %>
        <%= link_to t("not_available"), change_status_admin_room_path(room), method: :put, class: "btn btn-danger" %>
      <% else %>
        <button class="btn btn-danger"><%= t "not_available" %></button>
      <% end %>
    <% end %>
    <% if current_customer.admin? %>
      <%= link_to t("edit_room"),  admin_room_path(room), method: :patch, class: "btn btn-primary" %>
        <%= link_to t("delete_room_label"), admin_room_path(room), method: :delete,
          data: {confirm: t("confirm_room_delete")}, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
</div>
