<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <%= link_to root_path(anchor: "page-top"), :class => "navbar-brand page-scroll" do %>
        <span class="light"><%= t "nav_bar_name_first" %></span><%= t "nav_bar_name_second" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <%= link_to root_path(anchor: "page-top") %>
        </li>
        <li>
          <%= link_to t("nav_bar_about"), root_path(anchor: "about"), class: "page-scroll" %>
        </li>
        <li>
          <%= link_to t("nav_bar_contact"), root_path(anchor: "contact"), class: "page-scroll" %>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to t("nav_bar_bookin"), booking_tickets_path, class: "page-scroll" %>
          </li>
          <li>
            <%= link_to @current_customer.name, @current_customer, class: "page-scroll" %>
          </li>
          <% if current_customer.admin? %>
            <li>
              <%= link_to t("admin_panel_navbar"), statistics_path, class: "page-scroll" %>
            </li>
          <% end %>
          <li>
            <%= link_to t("nav_bar_logout_link"), logout_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to t("nav_bar_bookin"), root_path(anchor: "booking"), class: "page-scroll" %>
          </li>
          <li>
            <%= link_to t("nav_bar_login"), login_path(anchor: "sectionB"), class: "page-scroll" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
